<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/frequencia.css">
    <script src="https://kit.fontawesome.com/e31f944338.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Registro de Frequência</title>
</head>
<body>

    <div class="slider">

        <div class="slide">
            <img src="static/imagem2/giovanni-gagliardi-fvT3t9iOaJI-unsplash.jpg" alt="Imagem 1">
        </div>
    
        <div class="slide">
            <img src="static/imagem2/inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg" alt="Imagem 2">
        </div>
    
        <div class="slide">
            <img src="static/imagem2/javier-trueba-iQPr1XkF5F0-unsplash.jpg" alt="Imagem 3">
        </div>
    
        <div class="slide">
            <img src="static/imagem2/online-school-6956162_1920.jpg" alt="">
        </div>
    
        <div class="slide">
            <img src="static/imagem2/portrait-smiling-young-beautiful-dark-skinned-curly-student-girl-cafe-terrace-holding-textbooks-wearing-yellow-coat-enjoys-weather (1).jpg" alt="">
        </div>
    </div>
</div>

<div class = "container1">
    <div class = "sidebar">
        <ul style="list-style-type: none;" >
                <div class="sidebar_img">
                    <li><img src="static/senac.png" alt="" id = "senac_logo"></li>
                </div>
            <br><br><br><br>
            
                <div class="sidebar_conteudo">
                    <i class="fa-solid fa-house" style="color: #ffffff;"></i>
                    <div class="menubar">
                        <li class="sidebar_title"><a href="/pagina_inicial">Home</a></li>
                    </div>
                </div>
           
                <div class="sidebar_conteudo">
                    <i class="fa-sharp fa-solid fa-graduation-cap" style="color: #ffffff;"></i>
                    <div class="menubar">
                        <li class="sidebar_title"><a href="https://cloud.plataforma.senac.br/senacportalaluno/#/login" target="_blank">Portal do Aluno</a></li>
                    </div>
                </div>
  
                <div class="sidebar_conteudo">
                    <i class="fa-solid fa-phone" style="color: #ffffff;"></i>
                    <div class="menubar">
                        <li class="sidebar_title"><a href="http://www.ma.senac.br/fale-conosco/" target="_blank" rel="next">Contato</a></li>
                    </div>
                </div>
        
  
                <div class="sidebar_conteudo">
                  <i class="fa-solid fa-key" style="color: #ffffff;"></i>
                  <div class="menubar">
                        <li class="sidebar_title"><a href="/esqueceu_senha">Esqueceu senha</a></li>
                    </div>
                </div>
         
                <div class="sidebar_conteudo">
                    <i class="fa-sharp fa-solid fa-book" style="color: #ffffff;"></i>
                    <div class="menubar">
                        <li class="sidebar_title"><a href="http://www.ma.senac.br/curso/" target="_blank">Cursos</a></li>
                    </div>
                </div>
        </ul>
    </div>
  </div>

<main id = "frequencia">
        <h1>Frequencia Cadastrada Com Sucesso <br />
            Aluno(a): - {{ nome }}</h1>
        <table>
            <tr>
                <th>Data</th>
                <th>Hora</th>
                <th>Curso</th>
            </tr>
            {% for frequencia in frequencias %}
            <tr>
                <td>{{ frequencia[1] }}</td>
                <td>{{ frequencia[2] }}</td>
                <td>{{ frequencia[3] }}</td>
            </tr>
            {% endfor %}
        </table>
        <form method="post">
            <div style="display: none;">
                <input type="text" value="{{ result }}" id="result">
            </div>
    
            <div style="display: none;">
                <input type="text" value="{{ alert }}" id="alert">
            </div>
        </form>
        <div class="col-12 login-btm login-button justify-content-center d-flex">
            <button type="submit" class="btn btn-outline-primary"><a href="/pagina_inicial">Voltar para pagina inicial</a></button>
        </div class = "opcao-cadastro">
</main>

<script src="static/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.16/dist/sweetalert2.all.min.js"></script>
</body>
</html>
